/*https: //colorhunt.co/palette/158293*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

:root {
    --green: #42b883;
    --darkGreen: #347474;
    --darkBlue: #35495e;
    --lightOrange: #ff7e67;
    --lightGrey: #eae9e9;

}

* {
    box-sizing: border-box;



}

a {
    text-decoration: none;
    color: white;
}

.color {
    color: var(--green);
}

.hamburger-icon {
    position: fixed;
    right: 36px;
    top: 36px;
    padding: 20px;
}

.hamburger-icon .fas {
    font-size: 2rem;
    color: var(--green);
}

.btn-portfolio {
    background: var(--green);
    border-radius: 20px;
    padding: 15px 55px;
    color: white;
    margin-right: 25px;
}



.btn-skills {
    padding: 15px 55px;
    border-radius: 20px;
    border: 2px solid var(--green);
    color: var(--green);
}

.btn-skills:hover {
    background: var(--green);
    color: white;

}

html,
body {
    background: var(--green);
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    height: 100%;
}



.home .info-area .logo {
    background: white;
    height: 100px;
    width: 200px;
}

.home .info-area {
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 54px;


}

.home .info-area .info-box {
    position: absolute;
    bottom: 60px;


}

.home .info-area .info-box h4 {
    font-size: 1.2rem;
    color: white;
    margin: 1rem 0;
    font-weight: 700;

}

.home .info-area .info-box p {
    font-size: .7rem;
    font-weight: 300;
    color: white;

}

.icon-links {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

.home .content-area {
    background: white;
    width: 65%;
    margin-left: 35%;
    height: 100%;


}

.home .content-area .img-container {
    display: inline-block;
    position: relative;

}

.home .content-area .user-image {
    position: absolute;
    left: -250px;
    width: 500px;
    top: 80px;
    height: 750px;
    background: url(/img/test-1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home .content-area .headline-container {}

.home .content-area .headline-container .headline {
    position: relative;
    left: 35%;
    width: 50%;
    top: 15rem;

}

.home .content-area .headline-container .headline h1 {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 1.7rem;
}

.home .content-area .headline-container .headline h5 {
    padding-bottom: 25px;
}

.home .content-area .headline-container .headline p {
    padding-bottom: 55px;
    line-height: 1.4;
}