* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Oswald', sans-serif;
  position: relative
}

html {
  font-size: 62.5%;




}

p {
  font-size: 2rem;
  padding: 1rem 0rem;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2.2rem;
  color: white;

}

.fa,
.fas,
.far,
.fab {
  color: #0f4c75;
}



.white-line {
  width: 20%;
  border: 2px solid #fff;
  margin: 2rem 3rem;
}

.blue-line {
  width: 20%;
  border: 2px solid #0f4c75;
  ;
  margin: 2rem 3rem;
}




/*Navigation Styles*/
.main-header {
  z-index: 2;
  position: relative;
}

nav {
  width: 100%;
  margin: auto;
  position: fixed;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 2rem;
  background: #0f4c75;
  color: white;
  border-bottom: 2px solid #fff;
}

.burger,
.menu-check {
  display: none;
}

.logo {
  flex: 1 1 20rem;
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
}

.nav-links li {
  padding: 0 3.3rem;

}

.nav-links li:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

/*headline section styles*/
.headline {
  width: 100%;
  padding-top: 120px;

}

.headline-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 120px;

}

.headline-text {
  width: 50%;
}

.headline-text-sub {
  padding-bottom: 50px;
  ;
}

.headline-img {
  width: 50%;

}

.headline-img svg {
  width: 100%;
}

.headline-text h1 {
  font-size: 6rem;
  color: #0f4c75;
}

/*Buttons styles*/
.btn-portfolio {
  background: #0f4c75;
  color: white;
  border: none;
  cursor: pointer;
  padding: 2rem 6rem;
  font-size: 2rem;



}

.btn-portfolio:hover {
  background: #fff;
  color: #0f4c75;
  border: 2px solid #0f4c75;
  transition: background 0.8s ease-in-out;

}

.btn-contact {
  background: #fff;
  color: #0f4c75;
  border: none;
  cursor: pointer;
  padding: 2rem 6rem;
  font-size: 2rem;
}




/*About Styles*/
.about-me {
  background: #0f4c75;
  width: 100%;
  padding: 120px;

}

.about-me-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me-intro h2 {
  font-size: 4rem;
  color: #fff;

}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1580px;
  padding-top: 60px;



}

.about-img {
  width: 50%;
  text-align: center;
}

.about-img img {
  width: 400px;
  border-radius: 50%;

}

.about-text {
  width: 50%;
  color: #fff;
}

.about-me .about-text h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 100;
}

.about-me .about-text p {
  padding-bottom: 50px;
}

/*services styles*/
.services {
  padding: 120px;
}

.services-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.services-intro h2 {
  font-size: 4rem;
  color: #0f4c75;

}

.services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 120px;
}

.services-container h3 {
  font-size: 2rem;
  padding-top: 2rem;
  color: #0f4c75;
}

/*Techhnologies Styles*/
.technologies-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;

}

.technologies-intro h2 {
  font-size: 4rem;
  color: #0f4c75;
}

.technologies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  text-align: center;
}

.tech-box img {
  width: 96px;
  height: 96px;
}

/*Portfolio styles*/
.portfolio {
  background: #0f4c75;
  color: #fff;
  padding: 120px;
  text-align: center;

}

.portfolio-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.portfolio-intro h2 {
  font-size: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px;
  gap: 50px;
}

.portfolio-container .portfolio-box:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

.portfolio-box img {
  width: 480px;
  height: 380px;
}

/*Contact styles*/
.contact-me {
  padding: 120px;
}

.contact-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-me .contact-intro h2 {
  font-size: 4rem;
  color: #0f4c75;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px;
}

.contact-container .email {
  text-align: center;

}

.contact-container .social-media {
  margin: 0 5rem;
  align-content: center;
  align-self: center;
  padding-top: 4rem;
}

.contact-container .social-media a {
  padding: 0 2rem;
}

.contact-container .social-media i:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

/*Footer Styles*/
footer {
  background: #0f4c75;
  color: white;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 1.5rem;
}

/* Animation */
#HTML {
  animation: up 1.5s ease infinite alternate;
}

#CSS {
  animation: up 1.5s ease infinite alternate 0.5s;
}

/*Keyframes for project */
@keyframes up {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-30%);
  }
}



/*Mobile styles*/
@media screen and (max-width: 842px) {


  /*Burger Menu*/
  .burger {
    position: relative;
    display: block;
  }

  .burger span {
    padding: 0.2rem 2rem;
    background: white;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .nav-links a {
    color: white;
    font-size: 3rem;

  }

  .nav-links {
    background: #0f4c75;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .menu-check {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(5%, -50%);
    width: 9rem;
    height: 9rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }

  .menu-check:checked+.nav-links {
    transform: translate(-100%);
  }

  .menu-check:checked~.burger span {
    background: white;
  }

  .menu-check:checked~.burger span:nth-child(1) {
    transform: rotateZ(44deg) translateY(300%);
  }

  .menu-check:checked~.burger span:nth-child(3) {
    transform: rotateZ(-44deg) translateY(-300%);
  }

  .menu-check:checked~.burger span:nth-child(2) {
    opacity: 0;
  }

  .headline {
    width: 100%;
    margin: 0;

  }

  .headline-intro {
    padding: 5rem 3rem;
  }

  .headline-container {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 80px 0;
    margin: 0;


  }

  .headline-text {
    width: 100%;
  }

  .headline-text h1 {
    font-size: 3rem;
  }

  .headline-text-sub {
    font-size: 2rem;
  }

  .headline-img {
    display: none;
  }

  .about-me {
    padding: 80px 0;

  }

  .about-me-intro {
    width: 100%;
    padding: 0;
    margin: 0;

  }

  .about-me-intro h2 {
    font-size: 2.5rem;

  }



  .about-container {
    flex-direction: column;
    width: 100%;



  }

  .about-img {
    width: 100%;
    text-align: center;


  }

  .about-img img {
    width: 180px;
    height: 180px;
  }

  .about-text {
    width: 100%;
    text-align: center;
    padding: 50px 30px;

    font-size: 0.8rem;
  }

  .services {
    padding: 80px 0;
    margin: 0;
  }

  .services-container {
    flex-direction: column;

  }

  .services-container .box {
    padding: 55px 0;
  }

  .technologies-intro {
    padding: 60px 0;
  }

  .technologies-intro h2 {

    text-align: center;
  }

  .technologies-container {
    grid-template-columns: repeat(1, 1fr);
  }



  .portfolio {
    padding: 80px 0;
  }

  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .portfolio-container .portfolio-box img {
    width: 300px;
    height: 300px;

  }

  .contact-me {
    padding: 80px 0;
  }

  .contact-intro h2 {
    font-size: 2rem;
  }

  .contact-container .social-media {
    text-align: center;



  }

  .contact-container .social-media i {
    padding: 5px;
    margin: 15px;
  }


  footer {
    flex-direction: column;
    text-align: center;
  }




}