.about-container {
    display: flex;
    justify-content: center;

}

.about-img img {
    width: 450px;

}

.skills-container {
    display: flex;
    justify-content: center;
}

svg {
    width: 80px;
    height: 80px;
    margin: 0 5px;

}