$navBgColor:#0F4C75;

.main-header {
    width: 100%;
    margin: 0 0 0 auto;
    min-height: 10vh;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: $navBgColor;
    padding: 4rem;
    color: white;
}

.logo {
    flex: 1 1 10rem;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 1 1 20rem;

}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}



.headline-text {
    width: 50%;
    padding-left: 4rem;

}

.headline-text h1 {
    font-size: 6rem;
    color: #0F4C75;
}

.headline-text-sub {
    font-size: 3.5rem;

}

.headline-text .btn {
    margin-top: 2rem;
    background: #0F4C75;
    border: none;
    padding: 2rem 6rem;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.headline-img {
    width: 50%;
    padding-top: 4rem;

}

svg {
    padding-right: 5rem;
}


//Animation
#HTML {
    animation: up 1.5s ease infinite alternate;
}

#CSS {
    animation: up 1.5s ease infinite alternate 0.5s;
}

//Keyframes for project
@keyframes up {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-30%);
    }
}

@import "global";